<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% items.forEach(function(item){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src = "<%= item.largeImage %>" style="max-width: 200px; max-height: 200px">
                    <div class="" style="text-align:center">
                        <h4 style="max-width: 200"> <%= item.name  %> </h4>
                    </div>
                    <div style="text-align:center">
                        <h4 style="max-width: 200; font-weight: bold"> Sale Price: $<%= item.salePrice  %> </h4>
                    </div>
                    <p>
                        <a href="/items/<%= item.itemId  %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    <a href = "/" class="btn">Back to Home Page</a>
</div>