<!-- walmart texonomy json required -->
<h2>Categories</h2>
<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
-->
</script>

<ul align="left">
    <% taxonomy.categories.forEach(function(subcat) { %>
        <li onclick="toggle_visibility('<%= subcat.name %>')"><a><%= subcat.name %></a> </li>

        <% if(subcat.hasOwnProperty("children")) { %>
            <ul id="<%= subcat.name %>" style="display: none" >
            <% subcat.children.forEach(function(child) { %>
                <li> <a> <%= child.name %> </a> </li>
            <% }) %>
            </ul>
        <% } %>

    <% }) %>
</ul>
